@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Nunito;
    font-weight: 700 bold;
    font-size:67.5%;
}

.container-header{
    width: 37.5rem;
    height: 100px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 0px 4px 4px 0px gray;
}
.container-header .div-nav {
    width: 80%;
}

.container-header ul{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    font-size: 2.5rem;
}

.container-header li{
    transition: 0.1s all;
}

li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

main{
    width:37.5rem;
    margin-inline: auto;
    border:2px solid red;
}

.box-svg .forma1{
    border:1px solid;
    position: relative;
    right:195px;
    top:45px;
}

.box-svg .forma2{
    position: relative;
    left:210px;
    bottom:200px;
}

